---

- name: download file
  ansible.builtin.raw: |
    {{ windows_ignore_cert_block if windows_ps_ignore_cert else '#' }}
    (New-Object -TypeName System.Net.WebClient).DownloadFile("{{ dot_net_452.url }}", "{{ dot_net_452_download_location }}\{{ dot_net_452.file }}")
  changed_when: false
  check_mode: false
  register: download_dot_net_file
  until: download_dot_net_file is success
  delay: 3
  retries: 5

- name: install .NET 4.5.2
  ansible.builtin.raw: '{{ dot_net_452_download_location }}\{{ dot_net_452.file }} /q /norestart'
  changed_when: true
  check_mode: false
  failed_when: false

- name: remove dotnet file
  ansible.builtin.raw: 'Remove-Item -Path {{ dot_net_452_download_location }}\{{ dot_net_452.file }} -Force'
  changed_when: false
  check_mode: false
  failed_when: false

- name: re-enable root certificate auto update
  ansible.builtin.raw: |
    $authRootPath = "HKLM:\SOFTWARE\Policies\Microsoft\SystemCertificates\AuthRoot"
    if (Test-Path $authRootPath) {
        Remove-ItemProperty -Path $authRootPath -Name "DisableRootAutoUpdate" -Force -ErrorAction SilentlyContinue
    }
  changed_when: false
  check_mode: false
  failed_when: false
  when: windows_ps_ignore_cert
