---

- name: start windows update service
  ansible.builtin.raw: net start wuauserv
  args:
    executable: cmd.exe
  failed_when: false
  changed_when: false

- name: ensure no wusa service is running for hotfix installation
  ansible.builtin.raw: get-process wusa -ErrorAction SilentlyContinue
  changed_when: false
  check_mode: false
  register: check_wusa_process
  failed_when: false
  until: check_wusa_process.rc != 0
  delay: 60
  retries: 15

- name: enable tls system_default
  ansible.builtin.include_role:
    name: "{{ windows_hotfix_role }}"
  vars:
    hotfix: "{{ enable_tls_support_hotfix }}"
    use_raw_module: true

- name: ensure no wusa service is running
  ansible.builtin.raw: get-process wusa -ErrorAction SilentlyContinue
  changed_when: false
  check_mode: false
  register: check_wusa_process
  failed_when: false
  until: check_wusa_process.rc != 0
  delay: 60
  retries: 15

- name: wait for any update installation to finish
  ansible.builtin.pause:
    seconds: 60

- name: enable strong crypto and TLS 1.2 as default for .NET
  ansible.builtin.raw: |
    $paths = @(
        "HKLM:\SOFTWARE\Microsoft\.NETFramework\v2.0.50727",
        "HKLM:\SOFTWARE\Microsoft\.NETFramework\v4.0.30319",
        "HKLM:\SOFTWARE\Wow6432Node\Microsoft\.NETFramework\v2.0.50727",
        "HKLM:\SOFTWARE\Wow6432Node\Microsoft\.NETFramework\v4.0.30319"
    )
    foreach ($path in $paths) {
        if (Test-Path $path) {
            New-ItemProperty -Path $path -Name "SystemDefaultTlsVersions" -Value 1 -PropertyType DWORD -Force -ErrorAction SilentlyContinue | Out-Null
            New-ItemProperty -Path $path -Name "SchUseStrongCrypto" -Value 1 -PropertyType DWORD -Force -ErrorAction SilentlyContinue | Out-Null
        }
    }
  changed_when: false
  check_mode: false
  failed_when: false

- name: set windows_ps_ignore_cert to false
  ansible.builtin.set_fact:
    windows_ps_ignore_cert: false
