---

# see https://docs.ansible.com/ansible/latest/user_guide/windows_setup.html#winrm-memory-hotfix

- name: deploy memfix script from template
  ansible.windows.win_template:
    src: Install-WMF3Hotfix.ps1.j2
    dest: "{{ ps_memfix_script_file }}"

- name: set execution policy
  ansible.builtin.raw: 'Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Force'
  changed_when: false
  check_mode: false
  failed_when: false

- name: delete scheduled task if it exists
  ansible.builtin.raw: 'SCHTASKS /Delete /TN memfix /f'
  args:
    executable: cmd.exe
  changed_when: false
  check_mode: false
  failed_when: false

- name: create a scheduled task to run powershell script
  ansible.builtin.raw: >
    SCHTASKS /Create /SC MONTHLY /MO first /D SUN /TN memfix /TR "powershell.exe -Command
    '& {{ ps_memfix_script_file }} -Verbose'"
  args:
    executable: cmd.exe
  changed_when: false
  check_mode: false

- name: run scheduled task
  ansible.builtin.raw: 'SCHTASKS /Run /TN memfix'
  args:
    executable: cmd.exe
  changed_when: false
  check_mode: false

- name: wait for system to reboot after fix
  ansible.builtin.wait_for_connection:
    delay: "{{ ps_memfix_wait_for_connection_delay }}"
    sleep: 30
    timeout: "{{ ps_memfix_wait_for_connection_timeout }}"

- name: wait for powershell memfix task to finish
  ansible.builtin.raw: '((schtasks /query /TN memfix)[4] -split " +")[-2]'
  changed_when: false
  check_mode: false
  register: memfix_status_check
  failed_when: false
  until: (memfix_status_check.stdout | trim | lower) == 'ready'
  delay: 10
  retries: 30

- name: delete scheduled task
  community.windows.win_scheduled_task:
    name: memfix
    state: absent
  register: delete_scheduled_task
  until: delete_scheduled_task is success
  delay: 10
  retries: 10

- name: delete script
  ansible.windows.win_file:
    path: "{{ ps_memfix_script_file }}"
    state: absent
